<!doctype html>
<html lang="en">
    <head>
        <%- include('./head') %>
    </head>
    <body>
      <main>
        <h1><%- site_title %></h1>
        <hr/>
        <article>
          <h2><%- title %> </h2>
          <%- content %>
        </article>
        <hr/>
      </main>
      <footer>
        <%- include('./footer') %>
      </footer>
    </body>
</html>